altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
matplotlib
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
pickle
pillow
plotly
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
scipy
spotipy
seaborn
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
streamlit_option_menu
SpotifyClientCredentials
